body {
	background-color: lightgray;
	margin-top: 55px;
	margin-bottom: 75px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.container {
	width: ;
}

h1 {
	font-family: 'Fredoka One', cursive;
	font-size: 55px;
	color: #fff;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #fff;
}

form {
	color: black;
}

#buttonsView {
	display: inline;
}

.movie {
	display: inline;
}

#gifsView {
	display: inline;
	margin-bottom: 40px;
}

#movie-form {
	display: inline;
}

label {
	color: black;
}

a {
	background: #fff;
	margin: 5px;
	font-family: 'Open Sans', sans-serif;
	color: black;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
